{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<!-- Header Home Page -->
<section class="header-bg">
  <div class="background-light">
    <div class="header-title text-center px-3">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-around gy-4">
          <!-- Header Text -->
          <div class="col-lg-5 d-flex justify-content-center">
            <div class="text-white">
              <img class="my-4" src="{{ MEDIA_URL }}images/logo.svg" alt="Logo image in the header">
              <h3>Restaurant & Wine Bar</h3>
              <p>Kungsgatan 1, Stockholm</p>
            </div>
          </div>
          <!-- Sign Up Form Container -->
          <div class="col-lg-5">
            <div class="h-100 p-5 text-center reserve-bg-light mb-5">
              <div class="text-center">
                <h3 class="mb-lg-0 pb-3">{% trans "Log Out" %}</h3>
                  <p class="text-black-50">{% trans 'Are you sure you want to log out?' %}</p>
              </div>
              <div class="row">
                  <form class="col-form-label" id="logout_form" method="post" action="{% url 'account_logout' %}">
                    <div class="col-md-12 mt-3">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                      {% endif %}
                    </div>
                    
                    <!-- Log Out Button -->
                    <div class="row">
                      <div class="col-sm-12 d-grid">
                        <button class="btn btn-danger" type="submit">{% trans 'Log Out' %}</button>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
