{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


<!-- Header Home Page -->
<section class="header-bg">
    <div class="background-light">
      <div class="header-title text-center px-3">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-around gy-4">
            <!-- Header Text -->
            <div class="col-lg-5 d-flex justify-content-center">
              <div class="text-white">
                <img class="my-4" src="{{ MEDIA_URL }}logo.svg" />
                <h3>Restaurant & Wine Bar</h3>
                <p>Kungsgatan 1, Stockholm</p>
              </div>
            </div>
            <!-- Sign Up Form Container -->
            <div class="col-lg-5">
              <div class="h-100 p-5 text-center reserve-bg-light mb-5">
                <div class="text-center">
                    <h3 class="mb-lg-0 pb-3">{% trans "Password Reset" %}</h3>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <p class="text-black-50">Forgotten your password? 
                        Enter your e-mail address below, and we'll send you an e-mail 
                        allowing you to reset it.</p>
                </div>
                <div class="row">
                    <form class="col-form-label password_reset" id="logout_form" method="post" action="{% url 'account_reset_password' %}">
                      <div class="col-md-12 mt-3">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-danger" type="submit" value="{% trans 'Reset My Password' %}">
                      </div>
                    </form>
                    <div class="text-center">
                        <p class="text-black-50">{% blocktrans %}Please contact us if you have 
                            any trouble resetting your password. <a href="#contact">Contact Us</a>{% endblocktrans %}</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}
