{% extends "base.html" %}

{% block content %}

<!-- Header Home Page -->
<section class="header-bg">
  <div class="background-light">
    <div class="header-title text-center px-3">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-around gy-4">
          <!-- Header Text -->
          <div class="col-lg-5 d-flex justify-content-center">
            <div class="text-white">
              <img class="my-4" src="/static/images/logo.svg" alt="Logo">
              <h3>Restaurant & Wine Bar</h3>
              <p>Kungsgatan 1, Stockholm</p>
            </div>
          </div>
          <!-- Container -->
          <div class="col-lg-5">
            <div class="h-100 p-5 text-center reserve-bg-light mb-5">
              <div class="text-center">
                <h3 class="mb-lg-0 pb-3">Are you sure</h3>
                  <p class="text-black-50">you want to cancel your reservation?</p>
              </div>
              <div class="row">
                  <form class="col-form-label" method="post" action="{% url 'booking_system:cancel_reservation_msg' reservation.id %}">
                    {%  csrf_token  %}
                    <div class="row">
                        <div class="d-grid gap-2 mt-4 col-md-6">
                          <a href="{% url 'booking_system:list_reservations' %}" class="btn btn-danger text-space">Back</a>
                        </div>
                        <div class="d-grid gap-2 mt-4 col-md-6">
                            <button class="btn btn-danger" type="submit" href="{% url 'booking_system:cancel_reservation_msg' reservation.id %}">Confirm</button>
                        </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
