{% extends "base.html" %}

{% block content %}


<!-- Header Reservation Page -->
<section class="reserve-bg">
    <div class="background-light">
        <div class="header-title text-center px-3">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-around gy-4">
                    <!-- Header Text -->
                    <div class="col-lg-5 d-flex justify-content-center">
                        <div class="text-white">
                            <img class="my-4" src="{{ MEDIA_URL }}logo.svg" />
                            <h3>Restaurant & Wine Bar</h3>
                            <p>Kungsgatan 1, Stockholm</p>
                        </div>
                    </div>
                    <!-- Reservation Result -->
                    <div class="col-lg-5">
                        <div class="h-100 p-5 text-center reserve-bg-light mb-5">
                          <h3 class="display-6 text-center border-bottom reseve-title">My Reservations</h3>
                          <p class="text-black-50">Choose one of your reservations!</p>
                          <form action="" method="get">
                            <div class="form-group">
                              <select class="form-select" name="reservation_id" id="reservation_dropdown">
                                {% for item in user_reservations %}
                                <option value="{{ item.id }}">{{ item.name }} - {{ item.date }} at {{ item.time }} for {{ item.people }} people</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="row">
                              <div class="d-grid gap-2 mt-5 col-md-12">
                                <a id="{{ item.id }}" href="{% url 'booking_system:show_reservation_details' %}" class="btn btn-danger">View Details</a>                                
                              </div>
                              <div class="row">
                                <div class="d-grid gap-2 mt-5 col-md-6">
                                  <button action="" type="submit" class="btn btn-danger">Edit Reservation</button>
                                </div>
                                <div class="d-grid gap-2 mt-5 col-md-6">
                                  <button action="" type="submit" class="btn btn-danger">Cancel Reservation</button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

{%endblock%}