{% extends "base.html" %}

{% block content %}


<!-- Header Reservation Page -->
<section class="reserve-bg">
    <div class="background-light">
        <div class="header-title text-center px-3">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-around gy-4">
                    <!-- Header Text -->
                    <div class="col-lg-5 d-flex justify-content-center">
                        <div class="text-white">
                            <img class="my-4" src="{{ MEDIA_URL }}images/logo.svg" alt="Logo">
                            <h3>Restaurant & Wine Bar</h3>
                            <p>Kungsgatan 1, Stockholm</p>
                        </div>
                    </div>
                    <!-- Reservation Result -->
                    <div class="col-lg-5">
                        <div class="h-100 p-5 text-center reserve-bg-light mb-5">
                          {% if user_reservations %}
                          <h3 class="display-6 text-center border-bottom reseve-title">My Reservations</h3>
                          <p class="text-black-50">Choose one of your reservations!</p>
                          
                          <form method="POST" action="{% url 'booking_system:reservation_details' %}">
                            {% csrf_token %}
                            <div class="form-group">
                              <select class="form-select" name="reservation_dropdown">
                                {% for item in user_reservations %}
                                <option value="{{ item.id }}">{{ item.name }} - {{ item.date }} at {{ item.time }} for {{ item.people }} people</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="row">
                              <div class="d-grid gap-2 mt-5 col-md-12">
                            
                                <button type="submit" class="btn btn-danger text-space">View Details</button>
                              
                              </div>
                            </div>
                          </form>

                          {% else %}
                          <h3 class="display-6 pt-4 border-bottom">No Reservations found</h3>
                          <!-- Reservation Button -->
                          <div class="d-grid pt-3 mt-5 col-md-12">
                            <a href="{% url 'booking_system:reservation' %}" class="btn btn-danger text-space">Make a Reservation</a>
                          </div>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}