{% extends "base.html" %}

{% block content %}


<!-- Header Reservation Page -->
<section class="reserve-bg">
    <div class="background-light">
        <div class="header-title text-center px-3">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-around gy-4">
                    <!-- Header Text -->
                    <div class="col-lg-5 d-flex justify-content-center">
                        <div class="text-white">
                            <img class="my-4" src="{{ MEDIA_URL }}logo.svg" />
                            <h3>Restaurant & Wine Bar</h3>
                            <p>Kungsgatan 1, Stockholm</p>
                        </div>
                    </div>
                    <!-- Reservation Result -->
                    <form class="col-lg-5" method="POST">
                        <div class="h-100 p-5 text-center reserve-bg-light mb-5">
                            <h3 class="display-6 text-center border-bottom reseve-title pb-5">My Reservations</h3>
                            
                            <div class="row">
                                <h5 class="text-uppercase text-center">{{ reservation.name }}</h5>
                                <h6 class="text-black-50 mb-2">{{ reservation.date }} at {{ reservation.time }}</h6>
                                <h6 class="text-black-50 mb-2">Number of people: {{ reservation.people }}</h6>
                                <h6 class="text-black-50 mb-2">Special Request: {{ reservation.message }}</h6>
                            </div>
                            <div class="row">
                                <div class="d-grid gap-2 mt-4 col-md-6">
                                    <a href="{% url 'booking_system:edit_reservation' reservation.id %}" class="btn btn-danger">Edit</a>
                                </div>
                                <div class="d-grid gap-2 mt-4 col-md-6">
                                    <a href="{% url 'booking_system:cancel_reservation' reservation.id %}" class="btn btn-danger">Cancel</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-grid gap-2 mt-4 col-md-12">
                                    <a href="{% url 'booking_system:list_reservations' %}" class="btn btn-danger">Back</a>
                                </div>
                            </div>
                        </div>
                    </form>
                      
                      
                      
                </div>
            </div>
        </div>
    </div>
  </section>

{%endblock%}