/* Header HomePage */
/* Modals */
.modal-content {
    background-color: #F2EEE9 !important;
    border-radius: 0px !important;
}

.btn {
    color: #ffffff !important;
    border-radius: 5px !important;
}

/* Navigation */
.navbar-nav {
    --bs-nav-link-color: rgb(255 255 255);
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #E94235;
}
.navbar-dark {
    --bs-navbar-hover-color: rgb(252 111 111 / 75%);
}
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) #dee2e624!important;
}

/* Header */
/* Background image Home page header */
.header-bg {
    background-image:url('/media/images/background-home.svg');
    background-size: cover;
    margin-top: -76px;
}

.background-light {
    background: #000000bf;
}

.header-title {
    padding: 250px 0 250px 0;
}

/* Reservation Form */
.Reserve-bg {
    background-color: #CFC8BD;
    color: #000000;
    padding: 100px 0;
}

.reserve-bg-light {
    color: #1B1B1B !important;
    background-color: #F2EEE9 !important;
}

.text-space {
    letter-spacing :3px;
}

.h3-32 {
    font-size: 32px;
}

.logo-header {
    width: 21%;
}

/* Footer */
.footer-bg {
    background-color: #1B1B1B;
    color: white;
    padding: 20px 0;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
}

.iframe-radius {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.logo-footer {
    width: 80%;
}

/* Home page Content */
.text-white {
    color: white;
}

.m-about-bg {
    padding: 100px 0;
}

.chef-bg {
    background-color: black;
    color: white;
}

.food-img-overlay {
    position: absolute;
    right: 0;
    bottom: 0 !important;
    left: 0;
    padding: var(--bs-card-img-overlay-padding);
    border-radius: var(--bs-card-inner-border-radius);
}

/* Background image of opening hour section */
.opening-bg {
    background-image:url('/media/images/background-openinghours.png');
    background-size: cover;
}

.text-bg-dark {
    color: #fff!important;
    background-color: #000000 !important;
}

/* Design the web pages to be responsive */
@media (max-width: 576px) {
    .bg-body-tertiary  {
        --bs-bg-opacity: 0.85;
        background-color: rgba(var(--bs-emphasis-color-rgb),var(--bs-bg-opacity))!important;
    }
}
@media (min-width: 576px) {
    .bg-body-tertiary  {
        --bs-bg-opacity: 0.5;
        background-color: rgba(var(--bs-emphasis-color-rgb),var(--bs-bg-opacity))!important;
    }
}

/* Menu Page */
.menu-bg {
    background-image:url('/media/images/background-menu.png');
    background-size: cover;
    margin-top: -76px;
}

.menu-list-bg {
    background-color: #F2EEE8;
    padding: 100px 0px;
}

.float-r {
    float: right;
}

/* About Us Page */
.about-bg {
    background-image:url('/media/images/background-aboutus.png');
    background-size: cover;
    margin-top: -76px;
}

/* Reservation Page */
.reserve-bg {
    background-image:url('/media/images/background-reservation.png');
    background-size: cover;
    margin-top: -76px;
}
