{% extends 'base.html' %}

{% block content %}

    <!-- Header Menu Page -->
    <section class="menu-bg">
        <div class="background-light">
            <div class="text-white header-title text-center">        
                <p class="text-spac text-uppercase">pane e olio</p>
                <h3>Menu</h3>
                <h4 class="text-danger">Food & Wine</h4>
            </div>
        </div>
    </section>

    <!-- Menu -->
    <section class="menu-list-bg">
        <div class="container">
            <div class="pt-5 py-5">

                <!-- Antipasti -->
                <div class="row">
                    <div class="text-center mb-5 gy-4">
                        <h3>Antipasti</h3>
                    </div>
                    {% for item in antipasti_items %}
                    <div class="col-md-6">
                        <div class="m3">
                            <p class="mb-lg-0">{{ item.name }}
                                <span class="text-danger float-r">...........................................................  <span>{{ item.price }} kr </span></span>
                                <p class="text-black-50 fst-italic">{{ item.description }}</p>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                


                <!-- Main Courses -->
                <div class="row">
                    <div class="text-center mb-5 gy-4">
                        <h3>Main Courses</h3>
                    </div>
                    {% for item in main_courses_items %}
                    <div class="col-md-6">
                        <div class="m3">
                            <p class="mb-lg-0">{{ item.name }}
                                <span class="text-danger float-r">...........................................................  <span>{{ item.price }} kr </span></span>
                                <p class="text-black-50 fst-italic">{{ item.description }}</p>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Desserts -->
                <div class="row">
                    <div class="text-center mb-5 gy-4">
                    <h3>Desserts</h3>
                    </div>
                    {% for item in dessert_items %}
                    <div class="col-md-6">
                        <div class="m3">
                            <p class="mb-lg-0">{{ item.name }}
                                <span class="text-danger float-r">...........................................................  <span>{{ item.price }} kr </span></span>
                                <p class="text-black-50 fst-italic">{{ item.description }}</p>
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!-- Wine -->
                <div class="row">
                    <div class="text-center mb-5 gy-4">
                        <h3>Wine</h3>
                    </div>
                    <!-- RED Wine -->
                    <h4 class="text-center mb-5">Red</h4>
                    <div class="col-md-12">
                        <div class="row">
                            {% for item in red_wine_items %}
                            <div class="col-md-6">
                                <p class="mb-lg-0">{{ item.name }}
                                    <span class="text-danger float-r">...........................................................  <span>{{ item.price }} kr </span></span>
                                </p>
                                <p class="text-black-50 fst-italic">{{ item.description }}</p>
                            </div>
                            {% if forloop.counter|divisibleby:2 and not forloop.last %}
                        </div>
                        <div class="row">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- WHITE Wine -->
                    <h4 class="text-center mb-5">White</h4>
                    <div class="col-md-12">
                        <div class="row">
                            {% for item in white_wine_items %}
                            <div class="col-md-6">
                                <p class="mb-lg-0">{{ item.name }}
                                    <span class="text-danger float-r">...........................................................  <span>{{ item.price }} kr </span></span>
                                </p>
                                <p class="text-black-50 fst-italic">{{ item.description }}</p>
                            </div>
                            {% if forloop.counter|divisibleby:2 and not forloop.last %}
                        </div>
                        <div class="row">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </section>


{% endblock %}