{% extends "base.html" %}

{% block content %}


<!-- Header Reservation Page -->
<section class="reserve-bg">
    <div class="background-light">
        <div class="header-title text-center px-3">
            <div class="container" data-aos="fade-up">
                <div class="row justify-content-around gy-4">
                    <!-- Header Text -->
                    <div class="col-lg-5 d-flex justify-content-center">
                        <div class="text-white">
                            <img class="my-4" src="{{ MEDIA_URL }}logo.svg" />
                            <h3>Restaurant & Wine Bar</h3>
                            <p>Kungsgatan 1, Stockholm</p>
                        </div>
                    </div>
                    <!-- Reservation Form Container -->
                    <div class="col-lg-5">
                        <div class="h-100 p-5 text-center reserve-bg-light mb-5">
                        <h2 class="display-6 text-center p-3 mb-4 mt-3 border-bottom reseve-title">Make A Reservation</h2>
                        <p class="text-black-50">To Be able book a table, please <a href="{{ login_url }}">Log In</a>.
                            If you have not created an account yet, then please
                            <a href="{{ signup_url }}">sign up</a> first.</p>

                            <form class="row g-3">
                                <div class="col-md-6">
                                  <input type="text" placeholder="Your Name" class="form-control" id="name">
                                </div>
                                <div class="col-md-6">
                                  <input type="text" placeholder="Phone" class="form-control" id="phone">
                                </div>
                                <div class="col-md-6">
                                  <input type="email" placeholder="Email" class="form-control" id="email">
                                </div>
                                <div class="col-md-6">
                                  <input type="text" placeholder="Date" class="form-control" id="input">
                                </div>
                                <div class="col-md-6">
                                  <select class="form-select" aria-label="Default select example">
                                    <option selected>People</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                  </select>
                                </div>
                                <div class="col-md-6">
                                  <select class="form-select" aria-label="Default select example">
                                    <option selected>Time</option>
                                    <option value="12">12:00</option>
                                    <option value="12">12:30</option>
                                    <option value="13">13:00</option>
                                    <option value="13">13:30</option>
                                    <option value="14">14:00</option>
                                    <option value="14">14:30</option>
                                    <option value="15">15:00</option>
                                    <option value="15">15:30</option>
                                    <option value="16">16:00</option>
                                    <option value="16">16:30</option>
                                    <option value="17">17:00</option>
                                    <option value="17">17:30</option>
                                    <option value="18">18:00</option>
                                    <option value="18">18:30</option>
                                    <option value="19">19:00</option>
                                    <option value="19">19:30</option>
                                    <option value="20">20:00</option>
                                    <option value="20">20:30</option>
                                    <option value="20">21:00</option>
                                  </select>
                                </div>
                                <div class="col-md-12">
                                    <textarea placeholder="message" class="form-control" id="message"></textarea>
                                </div>
                                <div class="d-grid gap-2 mt-5">
                                  <button class="btn btn-danger text-uppercase text-space" type="button">Check Availability</button>
                                </div>
                              </form>
                              
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>


{%endblock%}